@import './Global.css';

@font-face {
  font-family: 'BerryRotunda';
  src: url(../Police/BerryRotunda.ttf);
}

.map-container {
  display: flex;
  justify-content: center;
}
.MapViewContainer {
  width: 500px;
  height: 450px;
}
.popup {
  text-align: center;
}
.popup p {
  color: #012f6b;
}
.leaflet-popup-content-wrapper {
  text-align: center;
}
.filter {
  display: flex;
  justify-content: center;
}

.selectRichness {
  min-width: 125px;
}

h4{
padding-top:"20px";
font-family: BerryRotunda;
font-size: 16px;
color: var(--color-blue)
}
