@import './Global.css';

.map-container {
  display: flex;
  justify-content: center;
}
.MapViewContainer {
  width: 500px;
  height: 450px;
}
.popup {
  text-align: center;
}
.popup p {
  color: #012f6b;
}
.leaflet-popup-content-wrapper {
  text-align: center;
}
.filter {
  display: flex;
  justify-content: center;
}

.selectRichness {
  min-width: 125px;
}
