@import './Global.css';

.logo {
  width: 55px;
  margin-top: 7px;
  margin-left: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  height: 80px;
}

header nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  padding: 5px 20px;
  cursor: pointer;
  text-align: center;
}

p {
  margin-left: 20px;
  color: white;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}
.titleSite {
  font-family: BerryRotunda;
  font-size: 40px;
  color: red;
}

/*Smartphone*/
@media screen and (max-width: 480px) {
  nav {
    display: none;
  }
}

/*Tablette*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  header nav ul li {
    font-size: 1em;
    padding: 5px 10px;
  }
  nav {
    display: none;
  }
}
