@import './Global.css';

.execution {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 400px;
}
h2 {
  font-size: 25px;
  font-family: BerryRotunda;
  color: #012f6b;
}
.timer {
  font-size: 20px;
}
.guillotine {
  width: 250px;
}
span {
  font-size: 20px;
}